body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 40px;
}


button {
     width: 100%;
    height: 50px;
    font-size: 1.2rem;
    background-color: rgb(252, 137, 175);
    border-radius: 50%;
    border-style: none;
    color: rgb(255, 240, 250);
    cursor: pointer;
}

button:hover {
    background-color: rgb(234, 188, 217);
}

button:active {
    background-color: rgb(244, 221, 236);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    padding: 0;
}

#calculator {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 221, 242);
    border-radius: 15px;
    width: 280px;
    max-width: 100%;
    padding: 10px;
}

#display {
    width: 100%;
    text-align: left;
    border: none;
    color: white;
    background-color: rgb(255, 148, 166);
    padding: 10px;
    font-size: 1.8rem;
    margin-bottom: 10px;
    
}

.operator {
    background-color: rgb(255, 34, 108);
}

.operator:hover {
    background-color: rgb(255, 95, 148);
}

.operator:active {
    background-color: rgb(253, 197, 216);
}
